p{
    font-family:"BBH Bogle" ;
    margin-top: 0;
    margin-bottom: 0;
}
.name {
        font-family:'Lucida Sans', 'Lucida Sans Regular';
        font-size : 15px;
        color: white;
        font-weight: 475;
        margin-top : 75px;
        display: inline-block;
        vertical-align: top;
    }
.profile-pic{
    width: 115px;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 250px;
    display: inline-block;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
}
.welcoming{
    color : white;
    font-family: "Roboto";
    font-weight: bold;
    margin-top : 25px;
    font-size: 12px;
}
.intro {
    color: white;
    font-size: 70px;
    line-height: normal;
}
.intro2{
    margin-top : 5px;
    font-size: 30px;
    color: white;
}
.span1{
    color: red;
}
.introbig{
    width: 625px;
}
.aboutme{
    width: 625px;
}
.about-me-text{
    font-family: 'Gill Sans', 'Gill Sans MT';
    color: aliceblue;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin-top : 50px;
    border: solid;
    color: white;
    width: 600px;
    border-radius: 700px;
    border-style:dashed;
}
.about-me-text2{
    font-family: "Lucida Sans";
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top : 20px;
    color: white;
    line-height: 35px;
}
.UTM{
    color: maroon;
}