body {
    background: url("picture/background-1.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

p {
    font-family: "BBH Bogle";
    margin: 0;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.profile-pic {
    width: 115px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.7);
}

.name {
    font-family: 'Lucida Sans';
    font-size: 15px;
    color: white;
    margin-top: 15px;
}

.social-logo {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    align-items: center;
}

.githublogo , .phytonlogo {
    width: 50px;
}

.linkedinlogo {
    width: 85px;
}

.introbig {
    width: 625px;
    margin: 60px auto 0;
    text-align: center;
}

.welcoming {
    color: white;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 12px;
}

.intro {
    color: white;
    font-size: 70px;
}

.intro2 {
    font-size: 30px;
    color: white;
    margin-top: 5px;
}

.span1, .span2, .span3 {
    color: red;
}

.aboutme {
    width: 650px;
    margin: 50px auto;
    text-align: center;
}

.about-me-text {
    font-family: 'Gill Sans';
    font-size: 50px;
    color: white;
    border: dashed 2px white;
    border-radius: 700px;
    padding: 10px;
}

.about-me-text2 {
    font-family: "Lucida Sans";
    font-size: 25px;
    color: white;
    margin-top: 20px;
    line-height: 35px;
}
.about-me-text3 {
    font-family: "Lucida Sans";
    font-size: 25px;
    color: white;
    margin-top: 20px;
    line-height: 40px;
}
.about-me-text4 {
    font-family: "Lucida Sans";
    font-size: 25px;
    color: white;
    margin-top: 20px;
    line-height: 40px;
}
.UTM {
    color: maroon;
}
@media (max-width: 1000px) {
    .aboutme-wrapper {
        flex-direction: column;
        align-items: center;
    }
}
