p{
    font-family:"BBH Bogle" ;
    margin-top: 0;
    margin-bottom: 0;
}
.name {
        font-family:'Lucida Sans', 'Lucida Sans Regular';
        font-size : 15px;
        color: white;
        font-weight: 475;
        margin-top : 40px;
        display: inline-block;
        vertical-align: top;
    }
.profile-pic{
    width: 70px;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 250px;
    display: inline-block;
}
.welcoming{
    color : white;
    font-family: "Roboto";
    font-weight: bold;
    margin-top : 50px;
    font-size: 12px;
}
.intro {
    color: white;
    font-size: 35px;
    line-height: normal;
}
.intro2{
    font-size: 35px;
    color: white;
}
.span1{
    color: red;
}